.menu-item {
    padding: 10px;
}

.menu-item a {
    color: darkblue;
    font-weight: 600;
    font-size: 18px;
    transition: all .1s ease-in;
}

.menu-item a:link, a:visited, a:active {
    text-decoration:none;

}

.menu-item a:hover {
    color: lightsalmon;
}